
<% unless current_user.is_a? GuestUser %>
    <%= form_for @comment, url: '#' do|f| %>
      <div class= "form-group upload-btn">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
      <div class="actions ">
        <%= f.submit "Comment", class: "btn btn-primary"  %>
      </div>
    <% end %>
<% end %> 