<main class="px-3">
     <h1>Hello, I am Priyansh</h1>
     <hr>

     <div class="row">
          <div class="col-md-4">
                <%= image_tag "my_img.jpg", width:"300", height:"300" %> 
          </div>

          <div class="col-md-8"
                <p class="lead">efenenocincdwdcnjfniosjwoqcwqnciowjcqoijwo</p>
          </div>
     </div>     
</main>