<main class="px-3">
     <h1>Want a website?</h1>

     <div class="row"> 
         <p class="lead"> You can contact me through:</p>
         <div class="col-md-6">
            <div class="bullets">
              <ul>
              <li>Phone: <%= number_to_phone "9232224626"%></li>
              <li>Email: <a href="mailto:sainip9211@gmail.com?subject=PostContact" "email me">sainip9211@gmail.com</a></li>
              <li>Linked: <a href="mailto:sainip9211@gmail.com?subject=PostContact" "email me">Click here</a></li>     
              <li>Insta: <a href="mailto:sainip9211@gmail.com?subject=PostContact" "email me">Click here</a></li>
              <li>Address: Delhi Technological University</li>
              </ul>
            </div>
         </div>
     
         <div class="col-md-6">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3497.943367273445!2d77.11515052955238!3d28.751107782457435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0138a74f7da7%3A0xf09fad683c23bd5d!2sDelhi%20Technological%20University!5e0!3m2!1sen!2sin!4v1642788069405!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
         </div>
     </div>
</main>