<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      <p>
        <%= link_to 'Read About Developer', about_developer_path, class: "btn btn-primary my-2" %>
        <%= link_to 'Read Some Posts', posts_path, class: "btn btn-primary my-2" %>
      </p>
    </div>
  </div> 
</section>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 sortable">
           
            <%= render @technologies %>

            <div class="d-grid gap-2 col-6 mx-auto">
               <% if logged_in?(:user) %>
                 <%= link_to "Add news to site", new_technology_path,class: "btn btn-primary" %>
               <% end %>
            </div>
            
        </div>      
     </div>
</div>

